<!DOCTYPE html>
<html>
<head>
  <title>{{ .title }}</title>
  <meta charset="UTF-8" />
  <link rel='stylesheet' id='style-css'  href='static/css/jquery.mobile-1.4.5.min.css' media='all' />

  <script type="text/javascript" src="static/js/jquery-1.12.1.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
    });
  </script>
</head>
<body>

<div data-role="page" id="page1">
  <div data-role="header">
    <h1>学生信息</h1>
  </div>

  <div data-role="content">
    <p>Welcome!</p>
  </div>

  <div data-role="footer">
  <a href="#page2">下一步</a>
  </div>
</div>   

<div data-role="page" id="page2">
  <div data-role="header">
    <h1>当前时段</h1>
  </div>

  <div data-role="content">
    <p>Welcome!</p>
  </div>

  <div data-role="footer">
  <a href="#page1">上一步</a><a href="#page3">下一步</a>
  </div>
</div> 

<div data-role="page" id="page3">
  <div data-role="header">
    <h1>期望时段（首选）</h1>
  </div>

  <div data-role="content">
    <p>Welcome!</p>
  </div>

  <div data-role="footer">
  <a href="#page2">上一步</a><a href="#page4">下一步</a>
  </div>
</div> 

<div data-role="page" id="page4">
  <div data-role="header">
    <h1>期望时段（备选）</h1>
  </div>

  <div data-role="content">
    <p>Welcome!</p>
  </div>

  <div data-role="footer">
  <a href="#page3">上一步</a>
  </div>
</div>

</body>
</html>

