<!DOCTYPE html>
<html>
<head>
  <title>{{ .title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' id='style-css'  href='static/css/jquery.mobile-1.4.5.min.css' media='all' />
  <link rel='stylesheet' id='style-css'  href='static/css/zb.css' media='all' />
  <script type="text/javascript" src="static/js/jquery-1.12.1.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="static/js/zb.js"></script>
</head>
<body>

<div data-role="page" id="page1">
  <div data-role="header">
    <h1>1.学生信息</h1>
  </div>

  <div data-role="content">
        <label for="name">学生姓名：</label>
        <input type="text" name="name" id="name" placeholder="请输入学生姓名...">

        <label for="name">联系手机：</label>
        <input type="text" name="tel" id="tel" placeholder="请确保联系手机号码正确...">

	<label for="grade" class="select">
		    <b style="color:#ff0000;">当前</b>年级：
	</label>
        <select name="grade" id="grade">
        </select>
    <a href="#page2" id="page1-next" data-role="button" class="ui-btn ui-icon-carat-r ui-btn-icon-left">下一步</a>
  </div>

  <div data-role="footer">
  </div>
</div>   

<div data-role="page" id="page2">
  <div data-role="header">
    <h1> 2.当前时段</h1>
  </div>

  <div data-role="content">
    <label for="currentCampus" class="select">校区：</label>
    <select name="currentCampus" id="currentCampus">
    </select>

    <label for="currentPeriod" class="select">时段：</label>
    <select name="currentPeriod" id="currentPeriod">
    </select>

    <a href="#page1" class="ui-btn ui-icon-carat-l ui-btn-icon-left">上一步</a>
    <a href="#page3" class="ui-btn ui-icon-carat-r ui-btn-icon-left">下一步</a>
  </div>

  <div data-role="footer">
  </div>
</div> 

<div data-role="page" id="page3">
  <div data-role="header">
    <h1>3.期望时段</h1>
  </div>

  <div data-role="content">
    <label for="wantedCampus" class="select">校区：</label>
    <select name="wantedCampus" id="wantedCampus">
    </select>

    <label for="wantedPeriod" class="select">时段：</label>
    <select name="wantedPeriod" id="wantedPeriod">
    </select>

    <a href="#page2" class="ui-btn ui-icon-carat-l ui-btn-icon-left">上一步</a>
    <button id="submitBtn">提交</button>
  </div>

  <div data-role="footer">
  </div>
</div> 

</body>
</html>

